html {
   overflow-y: scroll;
}

.nav {
   color: $purple;
   font-weight: 300;
}

h1 {
   font-size: 38px;
   color: $grey;
}

p.subtext {
   color: $grey;
}

p.price {
   font-size: 4.25rem;
   color: $orange;
   margin-top: -1.5rem;
   font-weight: 700;
}

div.all_rates {
   margin-top: 2rem;
   background-color: $grey__lightest;
   padding: 1rem 1rem 0 1rem;
   font-weight: 300;
}

.purple {
   color: $purple;
}

.grey {
   color: $grey;
}

.grey__dark {
   color: $grey__dark
}

.tab {
   background-color: $purple;
}

.col-l-no-gutter {
   padding-right: 0;
}

.col-r-no-gutter {
   padding-left: 0;
}

.btn-tab {
   background-color: $purple;
   color: $purple__light;
   padding: 1rem 0;
   font-size: 1.1rem;
   border: 0;
}

.btn-tab:hover {
   -webkit-box-shadow: inset 0 -8px 0 -4px $purple__light;
   -moz-box-shadow: inset 0 -8px 0 -4px $purple__light;
   box-shadow: inset 0 -8px 0 -4px $purple__light;
}