// BRAND COLORS

$purple__light: #dab6e0 !default;
$purple: #895e95 !default;
$purple__dark: #733080 !default;
$orange: #f48721 !default;
$grey__lightest: #efefef !default;
$grey__light: #9999a3 !default;
$grey: #6b6c7a !default;
$grey__dark: #424242 !default;
